.top {
    border-bottom: 6px solid $border-color;
    padding: 30px 0;

    &__wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }

    &__menu {
        flex-basis: 58%;
    }
}