@mixin min-max($min-width, $max-width, $padding) {
    min-width: $min-width;
    max-width: $max-width;
    padding: 0 $padding;
    box-sizing: border-box;
    margin: 0 auto;
}

@mixin btn($bg: $black, $fz: 9px, $lh: 13px, $ls: .54px, $bdrs: 40px, $w: 115px, $c: $white) {
    background: $bg;
    font-size: $fz;
    line-height: $lh;
    letter-spacing: $ls;
    border-radius: $bdrs;
    width: $w;
    color: $c;
    margin: 25px 0;
    padding: 13px 0;
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    @content;

    &:hover {
        background-color: lighten($bg, 15%);
    }
}