// Colors
$white: #fff;
$black: #000;

$border-color: #f3ebdc;
$slider-text-color: #535353;
$grey: #2d2b27;
$brand-color: #898989;
$footer-bg: #f8f8f8;

// Fonts
$montserrat: 'Montserrat', sans-serif;